[submodule "src/ComponentsLib"]
	path = src/ComponentsLib
	url = https://github.com/ksp-controller/KSP-ArduinoComponentsLibrary.git
[submodule "src/SerialLib"]
	path = src/SerialLib
	url = https://github.com/ksp-controller/KSP-ArduinoSerialLibrary.git
